:root {
    --main-white: #FFFFFF;
    --second-grey: #C0C0C0;
    --blue-button: #167BF7;
    --background-color: #00030C;
    --main-font: 'Inter', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background-color);
    color: var(--main-white);
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 400;
}

.main {
    background-image: url("img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__title {
    font-size: 28px;
    font-weight: 700;
}

.container__button {
    background-color: var(--blue-button);
    border-radius: 5px;
    padding: 1em;
    color: var(--main-white);
    display: block;
    text-decoration: none;
}

.secondary_button {
    background-color: transparent;
    border: 2px solid var(--main-white);
}

.container__warning {
    font-size: 12px;
    color: var(--second-grey);
}